/* Start with general rules and move down with specificity */

/* Google fonts import */

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@700;900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: black;
}

.hidden-heading {
    display: none;
}

/* Header */

header {
    background-color: white;
    color: #114664;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: safe center;
}

header a {
    text-decoration: none;
    color: inherit;
}

header img {
    display: block;
    max-width: 100%;
}

#menu {
    list-style-type: none;

}

/* Navbar styles with dropdown toggle */

nav {
    position: absolute;
    background-color: white;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}


/* Main */

main {
    background-color: #7ed858;
    flex: 1 0 auto;
    margin-top: 47px;
}

/* Call to action banner */

#call-to-action-banner {
    background-color: #37b6ff;
    padding: 10px;
    text-align: center;

}


/* Hero section */
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/hero-image1.jpg") no-repeat center center/cover;
}

/* Footer */

footer {

    background-color: #ffbf58;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style: none;

}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}


/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;

    }

    #logo {

        width: 60%;
        margin: 0 0.5rem;
    }


    /* Main content */
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 62px;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
}